<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | Payment :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/shop.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/checkout.css">
	<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/showAddress.css">
	<style>
		.sett {
			width: 50%;
			height: 190px;

		}

		.ui-btn {
			cursor: pointer;
			border-radius: 5px;
			color: rgb(0, 0, 0);
			border-style: solid;
			background-color: rgb(17, 255, 0);
			border-color: rgb(17, 255, 0);
			width: fit-content;
			height: 40px;
			transition: 0.2s ease;
			text-transform: uppercase;
			border-width: 2px;
			font-weight: 500;
			font-size: 18px;
			letter-spacing: 2px;
		}

		.ui-btn:hover {
			color: rgb(0, 0, 0);
			background-color: rgb(17, 255, 0);
			border-color: rgb(17, 255, 0);
			text-shadow: 0 0 50px rgb(17, 255, 0), 0 0 20px rgb(17, 255, 0), 0 0 15px rgb(17, 255, 0);
			/* box-shadow: 0 0 50px rgb(17, 255, 0), 0 0 30px rgb(17, 255, 0),
				0 0 60px rgb(17, 255, 0), 0 0 120px rgb(17, 255, 0); */
			font-size: 20px;
			width: fit-content;
			height: 50px;
			letter-spacing: 3px;
		}

		.ui-btn:active {
			width: fit-content;
			height: 38px;
			letter-spacing: 0px;
		}

		.cppn {
			background-color: black;
			border-radius: 8px;
			color: white;
		}

		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			/* z-index: 1; */
			/* Sit on top */
			left: 0;
			top: 0;
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgba(0, 0, 0, 0.559);
			/* Black w/ opacity */
		}

		.modal-content {
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			color: #979595;
			width: 60%;
		}

		/* Close button */
		.close-button {
        background-color: #ffffff; /* Red */
		width: fit-content;
		justify-content: right;
		

        border: none;
        color: rgb(0, 0, 0);
        /* padding: ; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .close-button:hover {
        background-color: #c2c2c289; /* Darker red */
    }
	.kj{
		padding-left: 20px;
	}
	
	</style>
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header class="container-fluid bg-light">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-3 top-info text-left mt-lg-4">
						<!-- Add your top info content here -->
					</div>
					<div class="col-md-6 logo-w3layouts text-center">
						<h1 class="logo-w3layouts">
							<a class="navbar-brand" href="/">
								I <i class="ri-eye-fill"></i> WEAR </a>
						</h1>
					</div>
					<div class="col-md-3 top-info-cart text-right mt-lg-4">
						<!-- Your cart and login buttons here -->
						<ul class="cart-inner-info">
							<li>
								<a href="/login"><i class="ri-account-circle-fill" style="color: black;"></i></a>
							</li>
							<li>
								<a href="/wishlist"><i class="ri-heart-fill" style="color: black;"></i></a>
							</li>
							<li>
								<a href="/cart"><i class="ri-shopping-cart-line" style="color: black;"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
	</div>

	</div>
	<!--//banner -->
	<!--// header_top -->
	<!--Payment-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
				<main class="container-fluid mn">
					<div class="row">
						<h2>Address</h2>
						<div class="col-md-12"> <!-- Adjusted the column width to occupy the full width -->
							<div class="card mb-3">
								<div class="card-body">
									<% if(!addressData && addressData?.address.length===0) { %>
										<div class="row mt-3">
											<div class="col-md-4">
												<div class="btn-group" role="group" aria-label="Address buttons">
													<p class="text-danger">
														No Address Found!<br />
													</p>
												</div>
											</div>
										</div>
										<% }else{ %>
											<% for(let j=0; j<addressData?.address.length; j++){ %>
												<% if(addressData.address[j].defaultAddress===true){ %>
													<div class="address-container">
														<h5 class="card-title"><strong>Name: </strong>
															<%= addressData.address[j].name %>
														</h5>
														<p class="card-text"><strong>Address:</strong>
															<%= addressData.address[j].CAddress %>, <%=
																	addressData.address[j].street %>,
																	<%= addressData.address[j].city %>, <%=
																			addressData.address[j].state %>, pin(<%=
																				addressData.address[j].pin %>)
																				<p id="addressErrorMessage"
																					style="color: red;"></p>
														</p>
													</div>
													<% } %>
														<% } %>
															<% } %>
								</div>
							</div>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-12"> <!-- Adjusted the column width to occupy the full width -->
							<div class="btn-group" role="group" aria-label="Address buttons">
								<a href="/checkoutAddAddress" class="btn btn-warning mr-3">Add Address</a>
								<button class="btn btn-warning" data-toggle="modal"
									data-target="#changeAddressModal">Change Address</button>
							</div>
						</div>
					</div>
				</main>

				<div class="modal fade" id="changeAddressModal" tabindex="-1" aria-labelledby="changeAddressModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title" id="changeAddressModalLabel">Change Address</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action='/saveChanges' method="post">
								<div class="modal-body">
									<% for(let j=0; j<addressData?.address.length; j++){ %>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="selectedAddress"
												value="<%= addressData.address[j]._id %>" id="addressRadio<%= j %>">
											<label class="form-check-label" for="addressRadio<%= j %>">
												<%= addressData.address[j].name %>
													<%= addressData.address[j].CAddress %>,
														<%= addressData.address[j].street %>, <%=
																addressData.address[j].city %>,
																<%= addressData.address[j].state %>, <%=
																		addressData.address[j].pin %>
											</label>
										</div>
										<% } %>
								</div>

								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">Save changes</button>
								</div>
							</form>


						</div>
					</div>
				</div>



				<br>

				<div class="checkout-right">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>Product</th>
								<th>Product Name</th>
								<th>Price</th>
							</tr>
						</thead>
						<% for(let i=0;i<data.length;i++){ %>
							<tbody>

								<tr class="rem1">
									<td class="invert-image">
										<a href="single.html">
											<img src="<%=data[i].productDetails.images[0]  %>" alt=" " class="sett">
										</a>
									</td>
									<td class="invert">
										<%=data[i].productDetails.Pname %>
									</td>

									<td class="invert">₹<%=data[i].productDetails.price %>
									</td>
									<!-- <td>
										<form action="/deleteCart?productId=<%#=data[i].products._id %>" method="post">

											<button type="submit"><i class="ri-close-circle-fill"></i></button>

										</form>
									</td> -->


								</tr>
							</tbody>
							<% } %>
					</table>

				</div>
				<br>
				<% let subtotal=0; %>
					<% if (data && data.length) { %>
						<div class="checkout-left row justify-content-end">
							<div class="col-md-4 checkout-left-basket">
								<h4>Summary</h4>
								<ul>
									<% subtotal=data.reduce((total, item)=> {
										return total + (item.productDetails.price * item.products.quantity);
										}, 0); %>
										<li>Sub Total
											<i>-</i>
											<span>₹<%= subtotal.toFixed(2) %></span>
										</li>
										<li>Shipping Charges
											<i>-</i>
											<span class="text-warning">Free</span>
										</li>
										<li>
											<button class="cppn" id="showCoupons">View Coupons</button>
										</li>

										<li>
											<input type="text" class="codeCode" placeholder="Coupon code">
											<i><button type="button" onclick="applyCoupon()"
													style="color: rgb(255, 255, 255);background-color: green;border-radius: 4px;border: transparent;">Redeem</button></i>
											<h6 class="text-success" id="couponValueDisplay"></h6>
											<B>
												<h6 class="text-danger" id="errorMessages"></h6>
											</B>
											<span class="text-danger" id="discountedPrice"></span>
										</li>
										<li>


										</li>

										<li id="total">Total
											<i>-</i>

											<span>₹<%= subtotal.toFixed(2) %></span>
										</li>
								</ul>
							</div>
						</div>
						<% } %>
			</div>

		</div>
	</section>
	<!-- modal for lislting coupon -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content btn-sm">
			<button class="close-button"><i class="ri-close-fill"></i></button><br>
				<% for(let i=0;i<couponList.length;i++){ %>
					<% if(couponList[i].status === true){ %>
				<h6 class="kj"><i class="ri-price-tag-3-fill text-success"></i> Use the coupon code - <%=couponList[i].code %> to get an discount of <%=couponList[i].discount%>% for all orders above ₹<%=couponList[i].minPrice  %></h6>
				<% } %>
				<% } %>
		  </div>

	</div>
	<!--  Modal closing-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Payment </h3>
				<!--/tabs-->
				<div class="responsive_tabs">
					<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li>Payment Method </li>
							<!-- <li>Online Payment</li> -->
						</ul>
						<div class="resp-tabs-container">
							<!--/tab_one-->
							<div class="tab1">
								<div class="pay_info">
									<div class="vertical_post check_box_agile">
										<div class="checkbox">
											<div class="check_box_one cashon_delivery">
												<label class="anim">

													<% if(subtotal.toFixed(2)> 1000){%>
														<p class="text-danger">
															COD not available for orders over ₹1000
														</p>
														<% }else{ %>
															<input type="radio" class="radio" name="paymentMethod"
																value="cod" id="cod">
															<label for="cod">COD</label><br><br>
															<% } %>


																<input type="radio" class="radio" name="paymentMethod"
																	value="onlinePayment" id="online">
																<label for="online">Online Payment</label><br><br>
																<% if(walletInfo?.balance> subtotal.toFixed(2)) {%>
																	<input type="radio" class="radio"
																		name="paymentMethod" value="wallet" id="wallet">
																	<label for="wallet">Use Wallet</label>
																	<p class="text-primary">Available Balance: ₹
																		<%=walletInfo.balance %>
																	</p>
																	<p class="text-success">You can order with wallet
																		money</p>
																	<% }else{ %>
																		<p class="text-primary">Insufficient balance in
																			Wallet</p>
																		<% } %>

												</label>
												<p id="errorMessage" style="color: red;"></p>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<!-- <button type="button"  class="btn btn-success mt-3">PLACE
										ORDER</button> -->
									<button type="button" id="placeOrderBtn" class="ui-btn btn mt-3">PLACE
										ORDER</button>

								</div>
							</div>
						</div>

					</div>


				</div>
				<!--//tab_one-->
				<!-- <div class="tab4">
								<div class="pay_info row">
									<div class="col-md-6 tab-grid">
										<img class="pp-img" src="images/paypal.png" alt="Image Alternative text"
											title="Image Title">
										<p>Important: You will be redirected to PayPal's website to securely complete
											your payment.</p>
										<a class="btn btn-primary">Checkout via Paypal</a>
									</div>
									<div class="col-md-6">
										<form action="#" method="post" class="cc-form">
											<div class="clearfix">
												<div class="form-group form-group-cc-number">
													<label>Card Number</label>
													<input class="form-control" placeholder="xxxx xxxx xxxx xxxx"
														type="text">
													<span class="cc-card-icon"></span>
												</div>
												<div class="form-group form-group-cc-cvc">
													<label>CVV</label>
													<input class="form-control" placeholder="xxxx" type="text">
												</div>
											</div>
											<div class="clearfix">
												<div class="form-group form-group-cc-name">
													<label>Card Holder Name</label>
													<input class="form-control" type="text">
												</div>
												<div class="form-group form-group-cc-date">
													<label>Valid Thru</label>
													<input class="form-control" placeholder="mm/yy" type="text">
												</div>
											</div>
											<div class="checkbox checkbox-small mt-4">
												<label>
													<input class="i-check" type="checkbox" checked="">Add to My
													Cards</label>
											</div>
											<input class="btn btn-primary submit mt-4" type="submit"
												value="Proceed Payment">
										</form>
									</div>
									<div class="clearfix"></div>
								</div>
							</div> -->
			</div>
		</div>
		</div>
		<!--//tabs-->
		</div>

		</div>
		<!-- //payment -->
	</section>
	<!--//Payment-->
	<!--footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4 style="color: #00ffbb;">Quick Links</h4>
					<ul class="list-unstyled">
						<li><a style="color: #f4f4f4;" href="#">Home</a></li>
						<li><a style="color: #f4f4f4;" href="#">About</a></li>
						<li><a style="color: #f4f4f4;" href="#">Shop</a></li>
						<li><a style="color: #f4f4f4;" href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-6 text-right">
					<h4>Follow Us</h4>
					<a style="color: #ff00f7;" href="#"><i class="ri-instagram-line"></i></a>
					<a style="color: #ffffff;" href="#"><i class="ri-twitter-x-line"></i></a>
					<a style="color: #00b7ff;" href="#"><i class="ri-facebook-circle-fill"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!--jQuery-->
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		// Get the modal
		var modal = document.getElementById("myModal");
	
		// Get the button that opens the modal
		var btn = document.getElementById("showCoupons");
	
		// Get the close button inside the modal
		var closeButton = document.querySelector(".close-button");
	
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}
	
		// When the user clicks on the close button, close the modal
		closeButton.onclick = function() {
			modal.style.display = "none";
		}
	
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	


	<!-- <script>
		$(document).ready(function () {
    $('form').submit(function (event) {
        // Check if the form is for placing an order
        if ($(this).attr('action') === '/postingOrder') {
            // Check if the COD checkbox is checked
            if (!$('input[name="paymentMethod"]').is(':checked')) {
                event.preventDefault();
                $('#errorMessage').text('Please select any option.');
            }
        }
    });
});

	</script> -->

	<!-- <script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            // Check if the COD checkbox is checked
            if (!$('input[name="paymentMethod"]').is(':checked')) {
                event.preventDefault();
                $('#errorMessage').text('Please select any option.');
            } else if (!$('input[name="selectedAddress"]').is(':checked')) {
                // Check if any address is selected
                event.preventDefault();
                // Display error message for address selection
                $('#addressErrorMessage').text('Please select an address before placing the order.');
            }
        });
    });
</script> -->




	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie-search.js"></script>
	<script src="js/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



	<script>
		function applyCoupon() {
			var couponCode = $('.codeCode').val();

			$.ajax({
				type: 'GET',
				url: '/applyCouponCode',
				data: { code: couponCode },
				success: function (response) {
					console.log(response);
					if (response.error && response.error.includes('Coupon expired')) {
						$('#errorMessages').text(response.error);
					} else if (response.error && response.error.startsWith('Minimum purchase price')) {
						$('#errorMessages').text(response.error);
					} else if (response.error && response.error.startsWith('invalid coupon')) {
						$('#errorMessages').text(response.error);
					} else {
						if (response.afterCoupon && response.discount) {
							$('#total').html(`<li style="color:black">Total<i>-</i><span><h5 style="color:black">₹${response.afterCoupon}</h5></span></li>`);
							$('#discountedPrice').text(`-${response.discount}`);
							$('#couponValueDisplay').text("Coupon applied !");
						}
					}
				},
				error: function (xhr, status, error) {
					console.error('Error applying coupon:', error);
				}
			});
		}
	</script>



	<script>
		$(document).ready(function () {
			$('#placeOrderBtn').on('click', function () {
				var paymentMethod = $('input[name="paymentMethod"]:checked').val();
				var totalAmount = $('input[name="totalAmount"]').val();


				// Validate payment method selection
				if (!paymentMethod) {
					$('#errorMessage').text('Please select a payment method.');
					return;
				}

				// Make AJAX request
				$.ajax({
					url: '/postingOrder',
					method: 'POST',
					data: {
						paymentMethod: paymentMethod,
						totalAmount: totalAmount
					},
					success: function (res) {
						if (res.paymentMethod === "cod") {
							if (res.success === true) {
								window.location.href = res.url;
							}
						} else if (res.paymentMethod === 'wallet') {
							if (res.success === true) {
								window.location.href = res.url;
							}
						} else if (res.paymentMethod === "onlinePayment") {
							if (res.success === true) {
								// Initialize Razorpay if order creation is successful
								const options = {
									key: res.key_id,
									amount: res.order.amount,
									currency: "INR",
									name: "I Wear",
									description: "Test Transaction",
									order_id: res.order.id,
									callback_url: "/ordersuccefull",
									prefill: {
										name: "Shubham Sunil Patil",
										email: "shubhampatil5333@gmail.com",
										contact: "7558826132"
									},
									notes: {
										address: "Razorpay Corporate Office"
									},
									theme: {
										color: "#3399cc"
									}
								};

								const rzp1 = new Razorpay(options);
								rzp1.open();

							} else {
								// Handle error case
								console.error("Order creation failed:", res.error);
							}
						}
					},
					error: function (xhr, status, error) {
						// Handle error response, e.g., display error message
						console.error(error);
					}
				});
			});
		});
	</script>



	<script>
		$(document).ready(function () {
			$('.value-plus, .value-minus').on('click', function () {
				var row = $(this).closest('tr');
				var productId = $(this).attr('data-id')
				console.log("kjhhk", productId);
				var currentQuantity = parseInt(row.find('span').text());

				if ($(this).hasClass('value-plus')) {
					currentQuantity += 1;
				} else if ($(this).hasClass('value-minus') && currentQuantity > 1) {
					currentQuantity -= 1;
				}
				let quantityUpdate;
				// Update the quantity in the UI
				row.find('.quantity-select .value span').text(currentQuantity);
				if ($(this).hasClass('value-plus')) {
					quantityUpdate = 1
				} else {
					quantityUpdate = -1

				}
				console.log('lll', quantityUpdate);
				// Make an AJAX request to update the quantity in the database
				$.ajax({
					url: `/updateQuantity?productId=${productId}&quantityUpdate=${quantityUpdate}`,
					type: 'POST',
					// data: {
					//     productId: productId,
					//     newQuantity: currentQuantity
					// },
					success: function (response) {
						window.location.reload()
						console.log('Quantity updated successfully');
						// You can update the UI or perform additional actions here if needed
					},
					error: function (error) {
						console.error('Error updating quantity:', error);
					}
				});
			});
		});
	</script>

	<!-- //cart-js -->
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- easy-responsive-tabs -->
	<script src="js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>

	<!-- credit-card -->
	<script type="text/javascript" src="js/creditly.js"></script>
	<link rel="stylesheet" href="css/creditly.css" type="text/css" media="all" />

	<script type="text/javascript">
		$(function () {
			var creditly = Creditly.initialize(
				'.creditly-wrapper .expiration-month-and-year',
				'.creditly-wrapper .credit-card-number',
				'.creditly-wrapper .security-code',
				'.creditly-wrapper .card-type');

			$(".creditly-card-form .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
	</script>
	<!-- //credit-card -->
	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			/*
									var defaults = {
										  containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
									 };
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!--// end-smoth-scrolling -->


	<!-- //smooth-scrolling-of-move-up -->
	<script src="js/bootstrap.js"></script>
	<!-- js file -->
</body>

</html>