<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        #sidebar {
            background-color: #ffffff;
            color: #fff;
            padding-top: 20px;
        }

        #sidebar a {
            padding: 10px;
            text-decoration: none;
            font-size: 18px;
            color: #000000;
            display: block;
            transition: 0.3s;
        }

        #sidebar a:hover {
            color: #3c01fffe;
        }


        #sidebar .logout {
            color: #fff;
            background-color: #ff0000;
            border-radius: 5px;
            padding: 10px;
            margin-top: 20px;
        }

        #content {
            padding: 20px;
        }

        .dashboard-section {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .statistic-box {
            background-color: rgba(171, 194, 194, 0.141);
            border: 1px solid #000000;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 20px;
        }

        .statistic-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .statistic-value {
            font-size: 24px;
            color: #27ae60;
        }

        .statistic-icon {
            font-size: 36px;
            margin-bottom: 10px;
            color: #3498db;
        }

        img {
            width: 100px;
            height: 100px;
        }
        
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-sm-12" id="sidebar">
                <div class="sidebar-sticky text-dark">
                    <h2 class="text-center">ADMIN</h2>
                    <a href="/admin/home"><i class="fas fa-home"></i> Dashboard</a>
                    <a href="/admin/productManagement"><i class="fas fa-box"></i> Product Management</a>
                    <a href="/admin/getAllCategory"><i class="fas fa-list"></i> Category Management</a>
                    <a href="/admin/userManagement"><i class="fas fa-users"></i> User Management</a>
                    <a href="/admin/orderManagement"><i class="fas fa-shopping-cart"></i> Order Management</a>
                    <a href="/admin/couponManagement"><i class="fas fa-percent"></i> Coupon Management</a>
                    <form action="/admin/adminLogout" method="post">
                        <button class="logout btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</button>
                      </form>
                </div>
            </nav>

            <main role="main" class="col-md-10 col-sm-12" id="content">
                <!-- Inside the <main> element -->
                <div class="dashboard-section" id="order-management-section">
                    <h2 class="section-title">Order Management</h2>

                    <!-- Table to display orders with status options -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Product Details</th>
                                    <th>User Details</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i< orders.length;i++){ %>
                                    <tr>
                                        <td>
                                            <img src="<%= orders[i].orderItems.images[0] %>">

                                        </td>

                                        <td>
                                            <strong>Name: </strong><%= orders[i].orderItems.Pname %><br>
                                            <strong>Category: </strong><%= orders[i].orderItems.Pcategory %><br>
                                            <strong>Quantity: </strong><%= orders[i].orderItems.units %><br>
                                            <strong>Payment: </strong><%=orders[i].paymentMethod%><br>
                                            <strong>OrderStatus: </strong>"<%=orders[i].orderItems.orderStatus%>"<br>
                                        </td>
                                        <td>
                                            <strong>Name: </strong><%= orders[i].address.name%><br>
                                            <strong>Address: </strong>
                                            <%= orders[i].address.CAddress%>,
                                            <%= orders[i].address.street%>,
                                            <%= orders[i].address.city%>,
                                            <%= orders[i].address.state%>,
                                            <%= orders[i].address.pin%><br>
                                            <strong>Order Date: </strong><%= orders[i].orderDate.toLocaleString('en-IN').split(',')[0]%>
                                        </td>
                                        <td>
                                            <form action="/admin/adminChangeOrderStatus?orderId=<%= orders[i]._id %>&productId=<%=orders[i].orderItems.productId%>" method="post">

                                                <input type="text" name="filter" value="<%#= filter?filter:'' %>" hidden>
                                                <% if (orders[i].orderItems.orderStatus == "Cancelled") { %>
                                                    <h6 class="text-danger">Cancelled</h6>
                                                <% } else if (orders[i].orderItems.orderStatus == "Shipped") { %>
                                                    <h6 class="text-warning">Shipped</h6>
                                                <% } else if (orders[i].orderItems.orderStatus == "Delivered") { %>
                                                    <h6 class="text-success">Delivered</h6>
                                                <% }else if (orders[i].orderItems.orderStatus == "Returned") { %>
                                                    <h6 class="text-warning">Returned</h6>
                                                <% } else { %>
                                                        <select class="form-control" name="orderStatus"
                                                            id="orderStatus1">
                                                            <option value="Ordered"
                                                                <%=(orders[i].orderItems.orderStatus==="Ordered"
                                                                )?"selected":"" %> >Ordered</option>
                                                            <option value="Shipped"
                                                                <%=(orders[i].orderItems.orderStatus==="Shipped"
                                                                )?"selected":"" %> >Shipped</option>
                                                            <option value="Delivered">Delivered</option>
                                                            <option value="Cancelled">Cancelled</option>
                                                        </select>
                                                        <button  class="btn btn-primary" type="submit"
                                                           >Update</button>
                                                        <% } %>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Example data
        const userData = { count: 150 };
        const orderData = { count: 75 };
        const profitData = { total: 2500.50 }; // Example profit in dollars

        // Display data in the overview section
        document.getElementById('user-count').textContent = userData.count;
        document.getElementById('order-count').textContent = orderData.count;
        document.getElementById('total-profit').textContent = `$${profitData.total.toFixed(2)}`;
    </script>

</body>

</html>