<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Goggles Ecommerce Category Bootstrap responsive Web Template | Shop :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="css/login_overlay.css" rel='stylesheet' type='text/css' />
  <link href="css/style6.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="css/shop.css" type="text/css" />
  <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <link href="css/fontawesome-all.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  <link
    href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .footer {
      top: 0;
      bottom: 0;
      width: 100%;
      height: fit-content;
    }

    /* Custom CSS to center the content */
    .center-content {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .content-box {
      border: 2px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      height: fit-content;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .walletBalanceCard {
      width: fit-content;
      height: 55px;
      background-color: #1c1f2f;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      padding: 0px 12px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .svgwrapper {
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .svgwrapper svg {
      width: 100%;
    }

    .balancewrapper {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 120px;
      gap: 0px;
    }

    .balanceHeading {
      font-size: 8px;
      color: rgb(214, 214, 214);
      font-weight: 100;
      letter-spacing: 0.6px;
    }

    .balance {
      font-size: 13.5px;
      color: white;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .addmoney {
      padding: 1px 15px;
      border-radius: 20px;
      background-color: #c083eb;
      color: white;
      border: none;
      font-size: 12px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .addmoney:hover {
      background-color: whitesmoke;
      color: #9c59cc;
    }

    .plussign {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pp {
      color: #000000;
      font-size: 20px;
    }

    .succes {
      color: #0c4400;

      font-size: 15px;
      /* Adjusted font size */
      text-align: center;
      padding: 2px;
      justify-content: center;
      margin-left: 15%;
      margin-right: 15%;
      border: 1px solid #0c9d05;
      /* Adjusted border thickness */
      border-radius: 50px;
      /* Adjusted border radius */
      background-color: #1aff001e;
      /* box-shadow: 1px 2px 4px rgb(64, 0, 255); Adjusted box shadow */
      animation: pulse 1s ease-in-out infinite alternate;
    }

    @keyframes pulse {
      0% {
        transform: scale(1.1);
      }
    }
  </style>
</head>

<body>
  <div class="banner-top container-fluid" id="home">
    <!-- header -->
    <header class="container-fluid bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 top-info text-left mt-lg-4">
            <!-- Add your top info content here -->
          </div>
          <div class="col-md-6 logo-w3layouts text-center">
            <h1 class="logo-w3layouts">
              <a class="navbar-brand" href="/">
                I <i class="ri-eye-fill"></i> WEAR </a>
            </h1>
          </div>
          <div class="col-md-3 top-info-cart text-right mt-lg-4">
            <!-- Your cart and login buttons here -->
            <ul class="cart-inner-info">
              <li>
                <a href="/login"><i class="ri-account-circle-fill" style="color: black;"></i></a>
              </li>
              <li>
                <a href="/wishlist"><i class="ri-heart-fill" style="color: black;"></i></a>
              </li>
              <li>
                <a href="/cart"><i class="ri-shopping-cart-line" style="color: black;"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- //header -->
  </div>
  <!-- main body -->
  <section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="center-content">
            <!-- Your content goes here -->
            <div class="content-box">
              <h1><i class="ri-wallet-fill"></i> Wallet</h1><br>
              <div class="walletBalanceCard">
                <div class="svgwrapper">
                  <svg viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.539915" y="6.28937" width="21" height="4" rx="1.5"
                      transform="rotate(-4.77865 0.539915 6.28937)" fill="#7D6B9D" stroke="black"></rect>
                    <circle cx="11.5" cy="5.5" r="4.5" fill="#E7E037" stroke="#F9FD50" stroke-width="2"></circle>
                    <path
                      d="M2.12011 6.64507C7.75028 6.98651 12.7643 6.94947 21.935 6.58499C22.789 6.55105 23.5 7.23329 23.5 8.08585V24C23.5 24.8284 22.8284 25.5 22 25.5H2C1.17157 25.5 0.5 24.8284 0.5 24V8.15475C0.5 7.2846 1.24157 6.59179 2.12011 6.64507Z"
                      fill="#BF8AEB" stroke="black"></path>
                    <path d="M16 13.5H23.5V18.5H16C14.6193 18.5 13.5 17.3807 13.5 16C13.5 14.6193 14.6193 13.5 16 13.5Z"
                      fill="#BF8AEB" stroke="black"></path>
                  </svg>
                </div>

                <div class="balancewrapper">
                  <span class="balanceHeading">Total balance</span>
                  <p class="balance"><span id="currency">₹</span>
                    <%=walletInfo?.balance || 0 %>
                  </p>
                </div>

                <button class="addmoney" data-toggle="modal" data-target="#addMoneyModal">
                  <span class="plussign">+</span>Add Money
                </button>
              </div>

              <% if(walletOk){ %>
                <br>
                <div id="walletMessage" style="display: block;">
                  <h4 class="succes"><i class="ri-check-double-fill" style="color: rgb(15, 153, 0);"></i> MONEY ADDED TO
                    WALLET</h4>
                </div>
                <script>
                  setTimeout(function () {
                    document.getElementById('walletMessage').style.display = 'none';
                  }, 2000);
                </script>
                <% } %>






                  <!-- modal -->
                  <div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog"
                    aria-labelledby="addMoneyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addMoneyModalLabel">Add Money</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- Input field for entering the amount -->
                          <div class="form-group">
                            <label for="moneyAmount">Amount:</label>
                            <input type="number" name="amount" class="form-control" id="moneyAmount">
                            <p id="errorMsg" style="color: red;"></p>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <!-- Button to add money -->
                          <button type="button" class="btn btn-primary" id="addMoneyBtn">Add</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- modal -->
                  <br>
                  <div>
                    <p class="pp">Transactions</p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">W.No</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (walletInfo && walletInfo.transactions) { %>
                          <% const sortedTransactions=walletInfo.transactions.sort((a, b)=> new Date(b.date) - new
                            Date(a.date));
                            const recentTransactions = sortedTransactions.slice(0, 5);
                            recentTransactions.forEach((transaction, index) => { %>
                            <tr>
                              <td>
                                <%= index + 1 %>
                              </td>
                              <td>
                                <%= new Date(transaction.date).toLocaleString('en-IN').split(',')[0] %>
                              </td>
                              <% if( transaction.amount<0 ){ %>
                                <td class="text-danger">Debited</td>
                                        <td class="text-danger"><b>
                                                <%= transaction.amount %>
                                            </b></td>
                                        <% } else {%>
                                          <td class="text-success">Credited</td>
                                            <td class="text-success"><b>+<%= transaction.amount %></b></td>
                                            <% } %>
                                  </tr>
                                    <% }) %>
                                      <% } else { %>
                            <tr>
                              <td colspan="3">No transactions found</td>
                            </tr>
                            <% } %>
                      </tbody>
                    </table>
                  </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- main body -->

  <!--footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 style="color: #00ffbb;">Quick Links</h4>
          <ul class="list-unstyled">
            <li><a style="color: #f4f4f4;" href="#">Home</a></li>
            <li><a style="color: #f4f4f4;" href="#">About</a></li>
            <li><a style="color: #f4f4f4;" href="#">Error</a></li>
            <li><a style="color: #f4f4f4;" href="#">Shop</a></li>
            <li><a style="color: #f4f4f4;" href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <h4>Follow Us</h4>
          <a style="color: #ff00f7;" href="#"><i class="ri-instagram-line"></i></a>
          <a style="color: #ffffff;" href="#"><i class="ri-twitter-x-line"></i></a>
          <a style="color: #00b7ff;" href="#"><i class="ri-facebook-circle-fill"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- //footer -->
  </script>

  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  <script>
    $(document).ready(function () {
      $('#addMoneyBtn').click(function () {
        var amount = $('#moneyAmount').val();
        if (!amount) {
          $("#errorMsg").text("Please enter the amount you want to add.");
          return;
        }

        $.ajax({
          url: '/addWalletMoney',
          type: 'POST',
          data: { amount: amount },
        })
          .then(res => {
            if (res.err) {
              return location.href = res.url;
            }

            if (res.success == true) {
              const options = {
                key: res.key_id,
                amount: res.wallet.amount,
                currency: "INR",
                name: "I Wear",
                description: "Test Transaction",
                order_id: res.wallet.id,
                callback_url: "/addedMoney",
                prefill: {
                  name: "Shubham Sunil Patil",
                  email: "shubhampatil5333@gmail.com",
                  contact: "7558826132"
                },
                notes: {
                  address: "Razorpay Corporate Office"
                },
                theme: {
                  color: "#3399cc"
                }
              };

              const rzp1 = new Razorpay(options);

              rzp1.open();
            }
          })
          .catch(err => {
            console.log(err)
          })
      });
    });
  </script>








  <script src="js/jquery-2.2.3.min.js"></script>
  <!-- newsletter modal -->
  <!--search jQuery-->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/classie-search.js"></script>
  <script src="js/demo1-search.js"></script>
  <!--//search jQuery-->
  <!-- cart-js -->
  <script src="js/minicart.js"></script>
  <script>
    googles.render();

    googles.cart.on('googles_checkout', function (evt) {
      var items, len, i;

      if (this.subtotal() > 0) {
        items = this.items();

        for (i = 0, len = items.length; i < len; i++) { }
      }
    });
  </script>
  <!-- //cart-js -->
  <script>
    $(document).ready(function () {
      $(".button-log a").click(function () {
        $(".overlay-login").fadeToggle(200);
        $(this).toggleClass('btn-open').toggleClass('btn-close');
      });
    });
    $('.overlay-close1').on('click', function () {
      $(".overlay-login").fadeToggle(200);
      $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
      open = false;
    });
  </script>
  <!-- carousel -->
  <!-- price range (top products) -->
  <script src="js/jquery-ui.js"></script>
  <script>
    //<![CDATA[ 
    $(window).load(function () {
      $("#slider-range").slider({
        range: true,
        min: 0,
        max: 9000,
        values: [50, 6000],
        slide: function (event, ui) {
          $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
        }
      });
      $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); //]]>
  </script>
  <!-- //price range (top products) -->

  <script src="js/owl.carousel.js"></script>
  <script>
    $(document).ready(function () {
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          600: {
            items: 2,
            nav: false
          },
          900: {
            items: 3,
            nav: false
          },
          1000: {
            items: 4,
            nav: true,
            loop: false,
            margin: 20
          }
        }
      })
    })
  </script>

  <!-- //end-smooth-scrolling -->


  <!-- dropdown nav -->
  <script>
    $(document).ready(function () {
      $(".dropdown").hover(
        function () {
          $('.dropdown-menu', this).stop(true, true).slideDown("fast");
          $(this).toggleClass('open');
        },
        function () {
          $('.dropdown-menu', this).stop(true, true).slideUp("fast");
          $(this).toggleClass('open');
        }
      );
    });
  </script>
  <!-- //dropdown nav -->
  <script src="js/move-top.js"></script>
  <script src="js/easing.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({
          scrollTop: $(this.hash).offset().top
        }, 900);
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      /*
                  var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                   };
                  */

      $().UItoTop({
        easingType: 'easeOutQuart'
      });

    });
  </script>
  <!--// end-smoth-scrolling -->

  <script src="js/bootstrap.js"></script>
  <!-- js file -->
</body>

</html>